.sidebar {
    width: 100%;

    .side-header {
        background-color: #202c33;
        padding-top: 30px;

        .link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            font-size: 12px;
            color: #fff;
            padding: 10px;
            font-weight: 900;

            svg {
                cursor: pointer;
                height: 20px;
                transition: all .3s;

                &:hover {
                    color: #00a884;
                }
            }
        }
    }

    .side-header-2 {
        background-color: #202c33;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            cursor: pointer;
        }

        .link_2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            svg {
                height: 20px;
                color: #fff;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: #00a884;
                }
            }
        }
    }

    .side-bottom {
        .searchBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            svg {
                color: #fff;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: #00a884;
                }
            }

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #202c33;
                padding: 1px 10px;
                border-radius: 8px;
                gap: 10px;
                width: 80%;

                svg {
                    color: #8696a0;
                }

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-size: 10px;
                    width: -webkit-fill-available;
                }
            }
        }

        .conversation-con {
            padding: 10px 0;

            .conversation {
                display: flex;
                gap: 10px;
                cursor: pointer;
                padding: 10px 5px;
                transition: all .3s;

                .img-con {
                    svg {
                        height: 30px;
                        width: 35px;
                        border-radius: 50%;
                    }
                }

                .text-con {
                    width: -webkit-fill-available;
                    padding-right: 5px;
                    border-bottom: 1px solid rgb(134 151 161 / 15%);

                    .title-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        .title {
                            color: #e9edef;
                            font-size: 12px;
                            font-weight: 700;
                            letter-spacing: 1px;
                        }

                        .time {
                            color: #8696a0;
                            font-size: 10px;
                        }
                    }

                    .last-message {
                        color: #8696a0;
                        font-size: 10px;

                    }
                }

                &:hover {
                    background-color: rgb(32, 44, 51);
                }
            }
        }

        .img-container {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            position: relative;
            margin: 20px auto;
            overflow: hidden;

            &:hover {
                .img-layer {
                    opacity: 1
                }
            }

            img {
                width: 100%;
                border-radius: 50%;
                cursor: pointer;

            }

            .img-layer {
                width: 100%;
                cursor: pointer;
                height: 100%;
                background: rgb(0, 0, 0, 0.7);
                backdrop-filter: blur(2px);
                border-radius: 50%;
                position: absolute;
                left: 0;
                opacity: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all 0.3s;
                color: white;
                font-size: 12px;

                svg {
                    height: 20px;
                    fill: white;
                }
            }
        }

        .text-container {
            .text-box {
                padding: 10px;
                position: relative;

                .label {
                    color: #00a884;
                    font-size: 10px;
                    font-weight: 900;
                }

                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-size: 12px;
                    outline: none;
                    padding-bottom: 5px;
                }

                input.read-only {
                    border-bottom: 3px solid #00a884;
                }

                .edit-save-profile {
                    position: absolute;
                    top: 40%;
                    right: 10px;

                    .edit svg,
                    .tick svg {
                        height: 18px !important;
                        color: #fff;
                        cursor: pointer;
                        transition: all .3s;

                        &:hover {
                            color: #00a884;
                        }
                    }
                }
            }
        }

        .add-new-contact-input-container {
            margin-top: 50px;

            .msg {
                color: #00a884;
                font-size: 12px;
                font-weight: 900;
                text-align: center;
            }

            .input-box {
                display: flex;
                justify-content: stretch;
                align-items: flex-start;
                flex-direction: column;
                padding: 10px;

                .label {
                    color: #00a884;
                    font-size: 10px;
                    font-weight: 900;
                    margin-bottom: 5px;
                }

                input {
                    width: -webkit-fill-available;
                    background-color: transparent;
                    border: 1px solid #00a884;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 12px;
                    outline: none;
                    padding: 5px;

                    &:focus {
                        border: 3px solid #00a884;
                    }
                }

                .err {
                    color: #ff6666;
                    font-size: 10px;
                    margin-top: 5px;
                }

            }

            button {
                background-color: #00a884;
                width: -webkit-fill-available;
                padding: 5px;
                font-weight: 600;
                text-align: center;
                margin: 10px;
                cursor: pointer;
                border-radius: 4px;
                transition: all .3s;

                &:hover {
                    color: #111b21;
                    background-color: #fff;
                }

                &:disabled {
                    background-color: #ff6666;
                    color: #fff;
                }
            }
        }
    }
}