.ui-background-container {
    width: 100%;
    background-color: #111b21;
    height: 100vh;
    position: relative;

    .main-container {
        position: absolute;
        top: 5%;
        right: 10%;
        height: 90vh;
        width: 80%;
        display: flex;

        .sidebar {
            width: 25%;

            .side-header {
                background-color: #202c33;
                padding-top: 30px;

                img {
                    height: 30px;
                    width: 35px;
                    border-radius: 50%;
                }

                .link {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    font-size: 12px;
                    color: #fff;
                    padding: 10px;
                    font-weight: 900;

                    svg {
                        cursor: pointer;
                        height: 20px;
                        transition: all .3s;

                        &:hover {
                            color: #00a884;
                        }
                    }
                }
            }

            .side-header-2 {
                background-color: #202c33;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    height: 30px;
                    width: 35px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .link_2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    svg {
                        height: 20px;
                        color: #fff;
                        cursor: pointer;
                        transition: all .3s;

                        &:hover {
                            color: #00a884;
                        }
                    }
                }
            }

            .side-bottom {
                .searchBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;

                    svg {
                        color: #fff;
                        cursor: pointer;
                        transition: all .3s;

                        &:hover {
                            color: #00a884;
                        }
                    }

                    .box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #202c33;
                        padding: 1px 10px;
                        border-radius: 8px;
                        gap: 10px;
                        width: 80%;

                        svg {
                            color: #8696a0;
                        }

                        input {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: #fff;
                            font-size: 10px;
                            width: -webkit-fill-available;
                        }
                    }
                }

                .conversation-con {
                    padding: 10px 0;

                    .conversation {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;
                        padding: 10px 5px;
                        transition: all .3s;

                        .img-con {
                            svg {
                                height: 30px;
                                width: 35px;
                                border-radius: 50%;
                            }
                        }

                        .text-con {
                            width: -webkit-fill-available;
                            padding-right: 5px;
                            border-bottom: 1px solid rgb(134 151 161 / 15%);

                            .title-header {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;


                                .title {
                                    color: #e9edef;
                                    font-size: 12px;
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                }

                                .time {
                                    color: #8696a0;
                                    font-size: 10px;
                                }
                            }

                            .last-message {
                                color: #8696a0;
                                font-size: 10px;

                            }
                        }

                        &:hover {
                            background-color: rgb(32, 44, 51);
                        }
                    }
                }

                .img-container {
                    padding: 20px 50px;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .text-container {
                    .text-box {
                        padding: 10px;

                        .label {
                            color: #00a884;
                            font-size: 10px;
                            font-weight: 900;
                        }

                        input {
                            width: 100%;
                            background-color: transparent;
                            border: none;
                            color: #fff;
                            font-size: 12px;
                            outline: none;
                        }
                    }
                }
            }
        }

        .main-content {
            width: 75%;
            background-color: #222e35;
            border-left: 1px solid #222e35;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                svg {
                    width: 50%;
                }

                .text-content {
                    h1 {
                        text-align: center;
                        font-size: 20px;
                        color: #fff;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 10px;
                        color: #8696a0;
                        text-align: center;
                    }
                }
            }

            .text-footer {
                position: absolute;
                bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                span {
                    font-size: 10px;
                    color: #8696a0;
                }
            }
        }
    }
}