<app-sidebar-content-profile
    [ngStyle]="{'display':sidebarContent === 'profile' ? 'block' : 'none'}"></app-sidebar-content-profile>
<app-sidebar-content-add-contact
    [ngStyle]="{'display':sidebarContent === 'addContact' ? 'block' : 'none'}"></app-sidebar-content-add-contact>
<app-sidebar-content-conversation
    [ngStyle]="{'display':sidebarContent === 'conversation' ? 'block' : 'none'}"></app-sidebar-content-conversation>
<app-sidebar-content-status
    [ngStyle]="{'display':sidebarContent === 'status' ? 'block' : 'none'}"></app-sidebar-content-status>